:root {
    --dmain: #4a5899;
    --main: #559cad;
    --lmain: #baffdf;
    --w: white;
}

body{
    background-color: var(--dmain);
    color: var(--lmain);
}

.title{
    text-shadow: 2px 2px 0 var(--main), -2px 2px 0 var(--main), -2px -2px 0 var(--main), 2px -2px 0 var(--main);
}

.btn-custom{
    height: 80px;
    width: 200px;
    border: 5px solid var(--main);
    background-color: var(--lmain);
    color: var(--main);
    transition: 0.6s;
}

.btn-custom:hover{
    border: 5px solid var(--lmain);
    background-color: transparent;
    color: var(--lmain);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:focus{
    box-shadow: 0 0 0 .25rem var(--main);   
}

.contacts{
    padding: 10px;
    margin-top: 20px;
    background-color: var(--lmain);
    border: 5px solid var(--main);
    color: var(--dmain);
    border-radius: 30px;
}

.contact{
    width: 80%;
    background-color: var(--w);
    border: 5px solid var(--main);
    border-radius: 30px;
    font-size: 20px;
}

p{
    margin: 0px;
    padding: 0px;
}

.icons{
    cursor: pointer;
}